<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Calificaciones Alumnos</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>autenticacion</servlet-name>
    <servlet-class>login.Autenticacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>autenticacion</servlet-name>
    <url-pattern>/Autenticacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modificarldap</servlet-name>
    <servlet-class>herramientas.ModificarLDAP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modificarldap</servlet-name>
    <url-pattern>/ModificarLDAP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>resetearContrasena</servlet-name>
    <servlet-class>herramientas.ResetearContrasena</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resetearContrasena</servlet-name>
    <url-pattern>/ResetearContrasena</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cambiarContrasena</servlet-name>
    <servlet-class>login.CambiarContrasena</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cambiarContrasena</servlet-name>
    <url-pattern>/CambiarContrasena</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>asignarprofesores</servlet-name>
    <servlet-class>herramientas.AsignarProfesores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asignarprofesores</servlet-name>
    <url-pattern>/AsignarProfesores</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>asignaralumnos</servlet-name>
    <servlet-class>herramientas.AsignarAlumnos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>asignaralumnos</servlet-name>
    <url-pattern>/AsignarAlumnos</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>crearusuarios</servlet-name>
    <servlet-class>herramientas.CrearUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>crearusuarios</servlet-name>
    <url-pattern>/CrearUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>crearasignatura</servlet-name>
    <servlet-class>herramientas.CrearAsignatura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>crearasignatura</servlet-name>
    <url-pattern>/CrearAsignatura</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>backupBBDD</servlet-name>
    <servlet-class>herramientas.BackupBBDD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>backupBBDD</servlet-name>
    <url-pattern>/BackupBBDD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cerrarsesion</servlet-name>
    <servlet-class>login.CerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cerrarsesion</servlet-name>
    <url-pattern>/CerrarSesion</url-pattern>
  </servlet-mapping>
</web-app>
